.navbar navbar-expand-lg navbar-light bg-light {
    min-height: 100px;
}

.about{
    min-height: 500px;
    color: blueviolet;
}

.hero{
    min-height: 100px;
}

.projects{
    min-height: 500px;
    enable-background: #666;
}

.contact{
    min-height: 500px;
    color: #666;
}
